@import url(https://fonts.googleapis.com/css?family=Nunito:300);

html {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 2fr 666px;
    grid-template-rows: 1fr;
    margin: auto;
    width: 80%;
}

.menu {
    grid-columns: 1 / 2;
    grid-rows: 1 / -1;
}

.stateChooser {
    margin: 1em 0;
}

.viz {
    grid-columns: 2 / -1;
    grid-rows: 1 / -1;
    position: relative;
}

#music-animation {
    height: 100px;
    background: rgb(243, 243, 243);
    position: relative;
}

#sheet-divider {
    height: 5px;
    background: white;
}

#music-sheets {
    border-style: solid;
    border-color: rgb(14, 14, 22);
    border-radius: 4px;
    background: white;
    height: 420px;
    position: relative;
}

#music-bar {
    height: 100%;
    width: 3px;
    position: absolute;
    background-color: black;
    z-index: 100;
    top: 0px;
}


#music-notes {
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    z-index: 50;
}

#inst-0, #inst-1, #inst-2, #inst-3 {
    text-transform: capitalize;
    transform: rotate(-90deg);
    position: relative;
}

#inst-0 {
    bottom: -35px;
}


#inst-1 {
    bottom: -90px;
}

#inst-2 {
    bottom: -150px;
}

#inst-3 {
    bottom: -210px;
}

#insts-used {
    border-style: solid;
    border-color: rgb(14, 14, 22);
    border-radius: 4px;
    width: 50px;
    height: 420px;
    max-height: 420px;
    background: white;
    position: absolute;
    left: -60px;
    top: 0;
}



#instrument-0, #instrument-1, #instrument-2, #instrument-3, #stateval {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-family: "Nunito";
}

.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;

    margin: 5em auto;

    position: relative;
    top:0; right:0; bottom:0; left:0;

    padding: 20px, 0;
    width: 130px;
    height:45px;
    border-radius: 4px;

    background: rgb(83, 190, 96);
    border: 1px solid rgb(83, 190, 96);
    color: #FFF;
    overflow: hidden;

    transition: all 0.5s;
}

#random-button{
    width: 190px;
}

#stop-button{
    background: rgb(238, 64, 64);
    border: 1px solid  rgb(238, 64, 64);
}

#reset-button{
    background: rgb(64, 160, 238);
    border: 1px solid  rgb(64, 160, 238);
}
